*,
*::before,
*::after {
	box-sizing: border-box;
}

*:not(dialog) {
	margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
	html {
		interpolate-size: allow-keywords;
	}
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

#root,
#__next {
	isolation: isolate;
}

.app {
}

.input-heading,
.title {
	text-align: center;
}

textarea {
	resize: vertical;
}

form {
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
	margin-bottom: 1rem;
	& label {
		display: flex;
		flex-direction: column;
	}
}

.Accordion.Accordion {
	color: whitesmoke;
	background-color: #242424;
}

.ExpandMoreIcon.ExpandMoreIcon {
	stroke: whitesmoke;
}

.layout-grid {
	display: grid;
	grid-template-columns: repeat(1, 70ch);
	margin: 0 auto;
	max-width: 70ch;

	@media (min-width: 1250px) {
		grid-template-columns: 70ch 1fr;
		max-width: unset;
	}
	@media (min-width: 1600px) {
		grid-template-columns: 90ch 1fr;
		max-width: unset;
	}
}
