.full-name {
	text-align: center;
	font-size: 2rem;
}

.page {
	padding-inline: 1in;
	padding-block: 0.5in;
	line-height: 1.1;
	text-align: left;
	color: black;
	background-color: #fff;
	height: 11.69in;
	width: 8.26in;
	transform: scale(0.8);
}

.personal-info {
	display: flex;
	gap: 0.5rem;
	justify-content: center;
	flex-wrap: wrap;
}

.work-section-heading,
.education-section-heading {
	width: 100%;
	border-bottom: 1px solid black;
}
.work-entry {
	margin-bottom: 0.6rem;
}
.work-header {
	display: flex;
	justify-content: space-between;
	& > * {
		text-wrap: nowrap;
		font-weight: bold;
		font-size: 1rem;
	}
}
