.full-name {
	text-align: center;
	font-size: 2rem;
}

.page {
	box-sizing: border-box;
	height: 11in;
	width: 8.5in;
	/* overflow: hidden; */

	font-size: var(--font-size, 12px);
	font-family: var(--font-family, Arial, Helvetica, Arimo, 'DejaVu Sans', sans-serif);
	line-height: 1.1;
	text-align: left;
	color: black;

	background-color: #fff;
}

.preview-pages {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	transform-origin: 0 0;
	transform: scale(0.8);
	@media print {
		transform: scale(1);
	}
}

.page-content {
	padding-inline: 1in;
	padding-block: 0.5in;
}

.personal-info {
	display: flex;
	gap: 0.5rem;
	justify-content: center;
	flex-wrap: wrap;
}

.work-section-heading,
.education-section-heading,
.skills-section-heading,
.professional-summary-heading,
.projects-section-heading,
.preview-heading {
	font-family: var(--heading-font-family, Arial, Helvetica, Arimo, 'DejaVu Sans', sans-serif);
	font-size: var(--heading-font-size, 12px);
	width: 100%;
	border-bottom: 1px solid black;
	&::first-letter {
		font-size: 1.1em;
	}
}
.work-entry,
.education-entry {
	padding-bottom: 0.6rem;
}
.work-header,
.education-header {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	& > * {
		text-wrap: nowrap;
		font-weight: bold;
	}
	& > *:nth-child(1) {
		text-align: left;
	}
	& > *:nth-child(2) {
		text-align: center;
	}
	& > *:nth-child(3) {
		text-align: right;
	}
}

.project-name-span {
	text-wrap: nowrap;
	font-weight: bold;
}

.education-honors {
	font-weight: normal;
	font-style: italic;
}

.page h3 {
	padding-bottom: 0.2rem;
}

.page article {
	padding-bottom: 0.5rem;
}

.heading-continued {
	font-weight: normal;
	font-style: italic;
}

.offscreen {
	position: absolute;
	left: -99999px;
}
